{% extends 'base.html.twig' %}

{% from "components/article_grille_produit.html.twig" import product_card, menu %}

{% block style %}
<link rel="stylesheet" href="../components/cards.css">
<link rel="stylesheet" href="../components/buttons.css">
<link rel="stylesheet" href="../layouts/grid.css">
<link rel="stylesheet" href="../style/product.css">
{% endblock %}

{% block title %}
Quel type de vetements ?
{% endblock %}

{% block content %}
<div class="row full">

    <div class="up-on-medium col s3 m3 l3 full">

        <h2>{{ 'catégories' |upper}}</h2>

        {{ menu('unisexe', [
            'téléton',
            'octobre Rose',
            'resto du coeur'
        ]) }}

        {{ menu('collaborations', [
            'T-shirt',
            'Sweat',
            'Pantalon'
        ]) }}

        {{ menu('taile', [
            's',
            'm',
            'l',
            'xL'
        ]) }}

        {{ menu('couleur', [
            'noir',
            'blanc',
            'autre'
        ]) }}

    </div>

    <div class="col s12 m12 l9 full">

        <div class="row full">
            {% for product in product_array %}
            <div class="col s12 m6 l4 ">
                {{ product_card(product['product_name'], product['image_name'], product['price']) }}
            </div>
            {% endfor %}
        </div>

    </div>

</div>

{% endblock %}

{% block script %}

{% endblock %}