{% extends 'template/base.html.twig' %}

{% block style %}
<link rel="stylesheet" href="../layouts/template.css">
<link rel="stylesheet" href="../components/buttons.css">
<link rel="stylesheet" href="../style/connexion.css">
<link rel="stylesheet" href="../style/voir-produit.css">
{% endblock style %}

{% block title %}
{{ name }}
{% endblock title %}

{% block content %}
<div class="page-inner">
    <h3 class="page-title">Page produit</h3>

    <form>
        <div class="product-container">
            <div class="product-picture">
                <img class="product"
                    src='../images/produit/{{ name }}/{{ default_color }}'>
            </div>
            <div class="product-desc">
                <h1 class="desc-head">{{name}}</h1>

                <div class="desc-main">
                    <h3 class="subtitle">Taille</h3>

                    <div class="radio-div">
                        <input type="radio" id="taille-XS" name="taille" value="XS">
                        <label class="button blue" for="taille-XS">XS</label>

                        <input type="radio" id="taille-S" name="taille" value="S">
                        <label class="button blue" for="taille-S">S</label>

                        <input type="radio" id="taille-M" name="taille" value="M" checked>
                        <label class="button blue" for="taille-M">M</label>

                        <input type="radio" id="taille-L" name="taille" value="L">
                        <label class="button blue" for="taille-L">L</label>

                        <input type="radio" id="taille-XL" name="taille" value="XL">
                        <label class="button blue" for="taille-XL">XL</label>

                    </div>

                    <h3 class="subtitle">Couleur</h3>

                    <div class="radio-div">
                        
                        {% for color in color_array %}
                            <input type="radio" id="couleur-{{color}}" name="couleur" value="{{color}}"
                                {% if color == color_array[0] %} checked {% endif %}>
                            <label class="button blue" for="couleur-{{color}}">{{color | capitalize}}</label>
                        {% endfor %}
                    
                    </div>

                    <h3 class="subtitle">Association à soutenir</h3>

                    <div class="radio-div">
                        <input type="radio" id="asso0" name="association" value="0" required>
                        <label class="charityIcon button" for="asso0" title="WWF">
                            <img src="../images/logos-transp/logo0.png">
                        </label>

                        <input type="radio" id="asso1" name="association" value="1">
                        <label class="charityIcon button" for="asso1" title="Les restaurants du cœur">
                            <img src="../images/logos-transp/logo1.png">
                        </label>

                        <input type="radio" id="asso2" name="association" value="2">
                        <label class="charityIcon button" for="asso2" title="Secours populaire français">
                            <img src="../images/logos-transp/logo2.png">
                        </label>

                        <input type="radio" id="asso3" name="association" value="3">
                        <label class="charityIcon button" for="asso3" title="UNICEF">
                            <img src="../images/logos-transp/logo3.png">
                        </label>

                        <input type="radio" id="asso4" name="association" value="4">
                        <label class="charityIcon button" for="asso4" title="Action contre La Faim">
                            <img src="../images/logos-transp/logo4.png">
                        </label>

                        <input type="radio" id="asso5" name="association" value="5">
                        <label class="charityIcon button" for="asso5" title="Sea Shepherd Conservation Society">
                            <img src="../images/logos-transp/logo5.png">
                        </label>

                        <input type="radio" id="asso6" name="association" value="6">
                        <label class="charityIcon button" for="asso6" title="Croix-Rouge française">
                            <img src="../images/logos-transp/logo6.png">
                        </label>

                        <input type="radio" id="asso7" name="association" value="7">
                        <label class="charityIcon button" for="asso7" title="Médecins sans frontières">
                            <img src="../images/logos-transp/logo7.png">
                        </label>

                        <input type="radio" id="asso8" name="association" value="8">
                        <label class="charityIcon button" for="asso8" title="30 Millions d'Amis">
                            <img src="../images/logos-transp/logo8.png">
                        </label>

                        <input type="radio" id="asso9" name="association" value="9">
                        <label class="charityIcon button" for="asso9" title="Institut Pasteur">
                            <img src="../images/logos-transp/logo9.png">
                        </label>

                    </div>
                </div>

                <div class="desc-foot">
                    <button class="blue confirmButton">Ajouter au panier ✔</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block script %}
<script>

    let thing = "";

    for (let i = 0; i < 26; ++i) {
        const letter = String.fromCharCode("a".charCodeAt() + i);

        thing += '<input type="radio" id="' + letter + '" name="association" value="' + letter + '">\n';
        thing += '<label class="charityIcon button" for="' + letter + '">' + letter.toUpperCase() + '</label>\n';
    }

</script>
{% endblock script %}